{% extends "layout.html" %}

{% block content %}

<h3 style="text-align: center;">SVOD Recommendation Engine Prototype</h3>
<!-- <nav>
    <ul list-style-type= none >
        <li><a href="{{url_for('connect_appsearch') }}">AppSearch Connection</a></li>
        <li><a href="{{url_for('connect_psql')}}">Postgres Connection</a></li>
        <li><a href="{{url_for('get_videos') }}">Get Videos</a></li>
        <li><a href="{{url_for('get_play_history') }}">Get History</a></li>
        <li><a href="{{url_for('user') }}">Current User Recommendations</a></li>
        <li><a href="{{url_for('new_activity') }}">New Activity</a></li>
        <li><a href="{{url_for('recommend') }}">Recommend</a></li>
    </ul>
</nav> -->
{% endblock %}